::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-height: 100vh;
    overflow: hidden;
}

#form-reporte-nuevo {
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    border-radius: 20px;
    right: 0vw;
    bottom: 20vh;
    width: 40vw;
}

input,
select {
    border: 2px solid #ccc;
    padding: 5px 0px 5px 10px;
}

button p {
    margin-top: -7px;
    color: $text;
}
