iframe {
    position: relative;
    width: 100vw;
    height: 100vh;
}

button#show {
    font-size: 45px;
    font-weight: bold;
    border-radius: 50%;
    position: fixed;
    border: 2px solid $secondary;
    right: 16.5vw;
    bottom: 7vh;
    width: 70px;
    height: 70px;
}

.user-icon {
    border: 2px solid $secondary;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 5px;
    position: absolute;
    right: 5vw;
    top: 5vh;
    width: 70px;
    cursor: pointer;
}

.signin-menu {
    border: 2px solid $secondary;
    background-color: #63b9a8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 70px;
}

.nav_buscar{
    background-color: rgba(0,0,0,0.25);
    padding-top: 10px;
}

.titulo {
    margin-left: 50px;
}

.buscar {
    display: flex;
    width: 50%;
    height: 43px;
    margin-right: 50px;
    padding-bottom: 3px;
}

.azul{
    width: 25%;
}

.verde{
    width: 10%;
}

.cielo{
    width: 60%;
}

.amarillo{
    width: 88%;
}

.rojo{
    width: 75%;
}