nav {
    border: 2px solid $secondary;
    background-color: white;
    font-size: 18px;
    border-radius: 5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 170px;
    position: absolute;
    right: 1.5vw;
    top: 16vh;
}

.nav-link {
    text-decoration: none;
    color: $text;
    font-size: 18px;
    padding: 5px;
    margin: 0px;
    border-bottom: 2px solid lighten($color: $secondary, $amount: 50);
    text-align: center;
    background-color: white;
    width: 100%;
}

.nav-link:last-child {
    border-bottom: none;
}